@charset "utf-8";
body {
    /* font-family: "Lato", sans-serif; */
    /* font-family: "Source Sans 3", sans-serif; */
    /* font-family: "Alan Sans", sans-serif; */
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    padding-top: 0rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

.text-em {
    color: #800020;
    font-weight: 500;
}

.text-hl {
    /* background-color: #fffcab; */
    font-weight: 500;
    /* padding: 0.1em 0.2em; */
    /* border-radius: 4px; */

    background-color: transparent;
    border-radius: 0;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    /* text-underline-offset: -2px; */
    text-decoration-color: #ffd500;
    text-decoration-skip-ink: none;
    white-space: nowrap;
}

.card {
    border-radius: 0.8rem!important;
}

.card-img-overlay {
    border-radius: 0.8rem!important;
}

.rounded-xl {
    border-radius: 0.8rem!important;
}

.rounded-xl-bottom {
    border-bottom-right-radius: 0.8rem !important;
    border-bottom-left-radius: 0.8rem !important;
}

.rounded-xl-top {
    border-top-left-radius: 0.8rem !important;
    border-top-right-radius: 0.8rem !important;
}


.text-profile-position {
    font-weight: 400;
}

.text-profile-bio {
    /* font-family: "Raleway"; */
    font-weight: 400;
}

.navbar {
    opacity: 0.95;
}

.inline-badge {
    height: 16px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

div.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

.badge-publication {
    font-size: 100%;
}

.email-text {
    font-family: "Courier Prime", monospace;
}

.profile-name {
  font-size: 1.5rem;    
  line-height: 1.25;
}